<main id="main">
    {{#if products}}
    <section class="header">
        <h1>Cart</h1>
        <span style="color: #9f9f9f">{{id}}</span>
    </section>
    <ul id="products">
        {{#each products}}
            <li class="product-card">
                <img class="product-image" src="{{this.id.thumbnails}}"/>
                <span class="product-id">{{this.id._id}}</span>
                <div style="display: flex; flex-direction: column; gap: 6px; width: 100%">
                    <h2 class="product-title">{{this.id.title}}</h2>
                    <span class="product-category">{{this.id.category}}</span>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: space-between; gap: 16px; flex: 1; width: 100%;">
                    <p class="product-description">{{this.id.description}}</p>
                    <p style="display: flex; justify-content: end; align-items: center; gap: 4px; width: 100%;">
                        <span class="product-price">${{this.id.price}}</span>
                        <span style="color: #9f9f9f; font-weight: bold; font-size: 14px;" >x {{this.quantity}}</span>
                    </p>
                </div>
            </li>
        {{/each}}
    </ul>
        {{else}}
            <h1 style="text-align: center; font-size: 24px; color: #9f9f9f">There are no products</h1>
    {{/if}}
</main>